<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::div})}">

<div th:object="${itemDetailDto}" class="contentWidthNarrow contentTpBtmMargin">

    <script th:inline="javascript">
        if ([[${outOfStckAlertMsg}]] != null) {
            alert([[${outOfStckAlertMsg}]]);
        }

        function clickBtn(url) {
            let formTag = document.getElementById("itemDetailForm");
            formTag.setAttribute("action", url);
        }
    </script>

    <form method="post" id="itemDetailForm">
        <div class="d-flex">
            <input type="hidden" name="itemNum" th:value="*{itemNum}">
            <div class="repImgDiv">
                <img th:src="@{/image/{saveImgName}(saveImgName=*{repSaveImgName})}" th:alt="*{itemName}" class="rounded repImg">
                <input type="hidden" name="saveImgName" th:value="*{repSaveImgName}">
            </div>
            <div class="wd50">
                <h4 th:text="*{itemName}"></h4>
                <input type="hidden" name="itemName" th:value="*{itemName}">

                <div class="text-right mgt-30">
                    <h5 class="text-left" th:text="*{price} + '원'"></h5>
                    <input type="hidden" name="price" th:value="*{price}">
                    <div class="input-group w-50">
                        <div class="input-group-prepend input-group-text">수량</div>
                        <input type="number" name="count" th:value="*{count}" min="1" class="form-control">
                        <input type="hidden" name="retView" value="item/itemDetail">
                    </div>
                </div>

                <div class="text-right mgt-30">
                    <input type="submit" value="장바구니 담기" class="btn btn-primary" onclick="clickBtn('/carts')">
                    <input type="submit" value="주문하기" class="btn btn-secondary" onclick="clickBtn('/orders-form')">
                </div>
            </div>
        </div>
    </form>

    <div class="jumbotron jumbotron-fluid mgt-70">
        <div class="container">
            <h4>상품 상세 설명</h4>
            <hr class="my-4">
            <p class="lead" th:text="*{itemDetail}"></p>
        </div>
    </div>

    <div th:each="notRepsaveImgName : *{notRepsaveImgNames}" class="text-center mgt-70">
        <img th:src="@{/image/{saveImgName}(saveImgName=${notRepsaveImgName})}" class="rounded" width="400">
    </div>

</div>