<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::div})}">

<div class="formContentWidthNarrow contentTpBtmMargin">

    <h2>로그인</h2>

    <form method="POST" action="/members-login" th:object="${loginFormDto}">
        <!-- 글로벌 오류 메시지 -->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="globalErr : ${#fields.globalErrors()}" th:text="${globalErr}"></p>
        </div>

        <div class="form-group">
            <label for="id">아이디</label>
            <input type="text" id="id" th:field="*{id}" class="form-control" th:errorclass="field-error" placeholder="아이디를 입력해주세요">
            <!-- 필드 오류 메시지 -->
            <p class="field-error" th:errors="*{id}"></p>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" th:errorclass="field-error" placeholder="비밀번호를 입력해주세요">
            <p class="field-error" th:errors="*{password}"></p>
        </div>
        <div class="btnLocation">
            <input type="submit" value="로그인" class="btn btn-primary">
        </div>
    </form>

</div>

</html>