.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

a {
    text-decoration: none;
    color: black;
}

.repImgDiv {
    margin-right: 15px;
    height: auto;
    width: 50%;
}
.repImg {
    width: 100%;
    height: 400px;
}
.wd50 {
    height: auto;
    width: 50%;
}

.contentWidthWide {
    margin-left: 10%;
    margin-right: 10%;
}
.contentWidthMiddle {
    margin-left: 15%;
    margin-right: 15%;
}
.contentWidthNarrow {
    margin-left: 25%;
    margin-right: 25%;
}
.formContentWidthWide {
    margin-left: 30%;
    margin-right: 30%;
}
.formContentWidthNarrow {
    margin-left: 35%;
    margin-right: 35%;
}

table {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.btnLocation {
    text-align: center;
    margin-top: 30px;
}

.contentTpBtmMargin {
    margin-top: 50px;
    margin-bottom: 60px;
}

.mgt-30 {
    margin-top: 30px;
}

.mgt-70 {
    margin-top: 70px;
}

.mgb-30 {
    margin-bottom: 30px;
}

.mgb-100 {
    margin-bottom: 100px;
}

.textAlignRight {
    text-align: right;
}

.textAlignCenter {
    text-align: center;
}